dl {
  margin-bottom: 10px;
}

dt {
  font-weight: normal;
}

dt,dd {
  line-height: 25px;
  padding-top: 5px;
  margin-bottom: 10px;;
}

/* Main marketing message and sign up button */
.home_bp {
  padding-top: 1em;
  text-align: center;
  background-color: transparent;
}
.home_bp .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/**--------------------**/
/**       Trip         **/
/**--------------------**/
#panel {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 5px;
}

#map-canvas {
	height: 500px;
	margin: 0;
	padding: 0;
}

/**--------------------**/
/**       Story        **/
/**--------------------**/


/**--------------------**/
/**       Modals       **/
/**--------------------**/
.modal-header {
/* 	background-color: #428bca;	 */
}

.modal-footer {
/* 	background-color: #428bca;	 */
}