    <div id="modalCreateLocation" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">New location</h4>
	      </div>
	      <div class="modal-body"><!-- Modal body -->
		      <div id="locationLayout"><!-- Location Layout -->
		      	<form class="form-horizontal" role="form">
					<!-- Name -->
			        <div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
				    		<input class="form-control" type="text" id="locationInputName" placeholder="Name of the location">
						</div>
					</div>
				    <!-- Description -->
			        <div class="form-group">
					    <label for="inputDesc" class="col-lg-2 control-label">Description</label>
					    <div class="col-lg-10">
					    	<textarea class="form-control" type="text" id="locationInputDesc" rows="3" placeholder="What you did there"></textarea>
					    </div>
				    </div>
				    <!-- Pictures upload -->
				    <div class="form-group">
						<label for="inputFile" class="col-lg-2 control-label">Pictures</label>
					    <div class="col-lg-10">
						    <input type="file" id="inputFile">
						    <p class="help-block"></p>
						</div>
					</div>
					<span id="picturesUpload"></span>
		        </form>
		        <button id="buttonMore" class="btn btn-primary btn-xs">+ More</button>
		      </div><!-- //Location layout -->
		      
		      <div id="wikiLayout" style="display: none"><!-- WikiLayout -->
		      	<label>Please choose the appropriate Wikipedia link to complete information about your location:</label>
		      	<form id="wikiLinksForm">
		      		<span id="wikiList">
			      		<p><i class="fa fa-spinner fa-spin fa-2x"></i>&nbsp;Charging Wikipedia content...</p>
		      		</span>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsWikiLink" id="customLinkOption" value="custom_link"/>
					    Use my own Wikipedia link
					  </label>
					</div>				
					<input id="customLinkInput" class="form-control" type="text" placeholder="My Wikipedia link" disabled/>
		      	</form>
		      </div><!-- //WikiLayout -->
	      </div><!-- //Modal body -->
	      <div class="modal-footer">
	        <button type="button" id="addLocationCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" id="addLocation" class="btn btn-primary">Create</button>
    	    <button type="button" id="addLocationFinal" class="btn btn-primary" style="display:none">Confirm</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
