    <!-- Modal to delete a location -->
    <div id="modalDeleteLocation" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Delete a location</h4>
	      </div>
	      <div class="modal-body">
	      	<input id="idLocationDelete" type="hidden" />
			<p>Are you sure to delete this location and all related contents ?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary" id="deleteLocation">Confirm</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->