<div id="modalEditLocation" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> Edit your location</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal" role="form">
				<!-- Name -->
		        <div class="form-group">
					<label for="locationInputNameEdit" class="col-lg-2 control-label">Name</label>
					<div class="col-lg-10">
			    		<input class="form-control" type="text" id="locationInputNameEdit">
					</div>
				</div>
			  
			    <!-- Description -->
		        <div class="form-group">
				    <label for="locationInputDescEdit" class="col-lg-2 control-label">Description</label>
				    <div class="col-lg-10">
				    	<textarea class="form-control" type="text" id="locationInputDescEdit" rows="3" placeholder="What you did there"></textarea>
				    </div>
			    </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" id="editLocation" class="btn btn-success">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->