{% extends base_layout %}

{% block header_title %}
    {% trans %}Search{% endtrans %}
{% endblock %}

{% block content %}


	<form class="form-inline" role="form">
  		<div class="form-group">
    		<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Location, ...">
  		</div>
  
  		<button type="submit" class="btn btn-default">Search</button>
	</form>
	<br /><br />
    <!-- List of the stories -->
    <table class="table table-hover">
	    <tbody>
			{% for story in stories %}
			    <tr>
			  		<td>{{ story.name }}</td>
			  		<td>
			  			<button type="button" class="button btn-primary">View story</button>
			  		</td>
			  	</tr>
			{% endfor %}
    	</tbody>
    </table>
{% endblock %}