{% extends base_layout %}

<!-- 
{% block extrahead %}
	<script src="story.js"></script>
{% endblock %}
 -->

{% block header_title %}
    {% trans %}Stories{% endtrans %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-body">
			<button id="buttonCreate" type="button" class="btn btn-primary">
	 		   <span class="glyphicon glyphicon-plus"></span> Create a new trip
	   		</button>
		</div>
		<!-- List of the stories -->
	    <table class="table table-hover">
		    <tbody>
				{% for story in stories %}
				    <tr id="{{ story.id }}" class="story">
				  		<td>
				  			<span class="display_story_name">{{ story.name }}</span>
				  			<input type="hidden" class="story_name" value="{{ story.name }}" />
				  			<input type="hidden" class="story_desc" value="{{ story.desc }}" />
				  			<input type="hidden" class="story_datefrom" value="{{ story.datefrom }}" />
				  			<input type="hidden" class="story_dateto" value="{{ story.dateto }}" />
				  		</td>
				  		<td>
				  			<a href="/trip/{{ story.id }}" class="btn btn-default btn-small">
					  			<span class="glyphicon glyphicon-map-marker"></span> View story
				  			</a>
				  		</td>
				  		<td>
				  			<button class="btn btn-default btn-small" onClick="openEditModal({{ story.id }});">
				  				<span class="glyphicon glyphicon-pencil"></span> Edit story
				  			</button>
				  		</td>
				  		<td>
				  			<button class="btn btn-default btn-small" onClick="openDeleteModal({{ story.id }});">
				  			<span class="glyphicon glyphicon-remove"></span> Delete story
				  			</button>
				  		</td>
				  	</tr>
				{% endfor %}
	    	</tbody>
	    </table>
	</div>
    
    {% include "modalCreateStory.html" %}
    {% include "modalDeleteStory.html" %}
    {% include "modalEditStory.html" %}
	
{% endblock %}

{% block mediaJS %}
    <script>
    function openDeleteModal(idStory) {
    	$('#modalDeleteStory').modal('show');
    	$('#idStoryDelete').val(idStory);
   	}
    
    function openEditModal(idStory) {
  		var datefrom = $('#'+idStory+' .story_datefrom').val();
		var dateto = $('#'+idStory+' .story_dateto').val();
		//TODO format is yyyy-mm-dd
		$('#dateBeginStory').datepicker('setValue', '07/10/2013');
		$('#dateEndStory').datepicker('setValue', '10/10/2013');

		var name = $('#'+idStory+' .story_name').val();
		var desc = $('#'+idStory+' .story_desc').val();

		$('#idStoryEdit').val(idStory);
		$('#inputNameStory').val(name);
		$('#inputDescStory').val(desc);
  
   	  	$('#modalEditStory').modal('show');
   	}
    
    $().ready(function() {
		// ----- Create a story ----- //    
		$('#buttonCreate').click(function() {
			$('#modalCreate').modal('show');
		});
		
		$('#buttonCancel').click(function(){
			// Clean the modal
			$('#inputName').val('');
			$('#inputDesc').val('');
			// FIX ME
			//$('#dataBegin').datepicker('setValue', '');
			//$('#dataEnd').datepicker('setValue', '');
		});
		
		$('#createStory').click(function() {
			var name = $('#inputName').val();
			if(name) {
				$.ajax({
	  				type: "POST",
	  				url: '/story.register/',
	  				data: {'name': $('#inputName').val(),
	  						'datefrom': $('#dateBegin').val(),
	  						'dateto': $('#dateEnd').val(),
	  						'desc': $('#inputDesc').val()}
				})
				.done(function(data) {
					if(data.status == 'OK'){
						// Close the modal
						$('#modalCreate').modal('hide');
						// Redirect to trip page
						var url = "/trip/" + data.record.storykey;
						window.location.replace(url);
					} else {
						// Server error
						$('#modalError').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Sorry!</strong> An internal error occured, please try again</div>');
					}
				});
			} else {
				$('#modalError').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Error!</strong> The name of the trip is mandatory</div>');
			}
		});

		// Date picker
		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
		
		var dateBegin = $('#dateBegin').datepicker({
			format : 'dd/mm/yyyy',
			weekStart : 1
		})
		.on('changeDate', function(ev) {
	  		if (ev.date.valueOf() > dateEnd.date.valueOf()) {
	    		var newDate = new Date(ev.date)
	    		newDate.setDate(newDate.getDate() + 1);
	    		dateEnd.setValue(newDate);
			}
			dateBegin.hide();
			$('#dateEnd').focus();
		}).data('datepicker');
		
		var dateEnd = $('#dateEnd').datepicker({
			format: 'dd/mm/yyyy',
			weekStart : 1,
		  onRender: function(date) {
		    return date.valueOf() <= dateBegin.date.valueOf() ? 'disabled' : '';
		  }
		}).on('changeDate', function(ev) {
		  dateEnd.hide();
		}).data('datepicker');

		// ----- Delete a story ----- //
		$('#deleteStory').click(function(){
			var idStory = $('#idStoryDelete').val();
			$('#modalDeleteStory').modal('hide');
			if(idStory) {
		  		$.ajax({
					type: "POST",
					url: '/story.delete/' + idStory
				})
				.done(function(data){
					if(data.status == "OK") {
						// Erase the trip from the list
						$('#'+idStory).remove();
					}
				});
			}
		});
		
		// ----- Edit a story ----- //
		$('#editStory').click(function(){
			var idStory = $('#idStoryEdit').val();
			
			//TODO : controls
			$('#modalEditStory').modal('hide');
			
			// Infos
			var name = $('#inputNameStory').val();
			var desc = $('#inputDescStory').val();
			var dateto = $('#dateBeginStory').val();
			var datefrom = $('#dateEndStory').val();
			
			$.ajax({
				type: "POST",
				url: '/story.edit/' + idStory,
				data: {'name' : name,
						'desc' : desc,
						'dateto' : dateto,
						'datefrom' : datefrom}
			})
			.done(function(data){
				if(data.status == "OK") {
					// Update trip data
					$('#' + idStory + ' .story_name').val(name);
					$('#' + idStory + ' .story_desc').val(desc);
					$('#' + idStory + ' .story_datefrom').val(datefrom);
					$('#' + idStory + ' .story_dateto').val(dateto);
					$('#' + idStory + ' .display_story_name').html(name);
				}
			});
		});
	});
	</script>
{% endblock %}