{% extends base_layout %}

{% block header_title %}
    {% trans %}Trip{% endtrans %}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6"><!-- Google map -->
			<div id="panel" class="col-lg-12 input-group">
      			<input id="target" type="text" placeholder="Location" class="form-control">
      			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    		</div>
    		<div id="map-canvas"></div>
		</div>
		
		<div class="col-md-6">
			<!-- ID of the trip -->
			<input type="hidden" id="storyId" value="{{ story.id }}"/>
			<input type="hidden" id="dateTo" value="{{ story.dateto }}"/>
			<input type="hidden" id="dateFrom" value="{{ story.datefrom }}"/>
			<input type="hidden" id="storyName" value="{{ story.name }}"/>
			<input type="hidden" id="storyDesc" value="{{ story.desc }}"/>
		
			<!-- Name of the trip -->
			<h3 id="displayStoryName">{{ story.name }}</h3>
			
			<div class="btn-group">
				<button id="buttonEditStory" type="button" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</button>
			</div>
			<br/><br/>

			<!-- Custom description -->
			<p id="displayStoryDesc">{{ story.desc }}</p>
			
			<hr /><!-- Informations about selection -->
			
			<div id="noSelection">
				<p>Please select a location, or create a new one by using the map.</p>
			</div>
			
			<div id="selectionInfos" style="display: none;">
				<input id="locIndex" type="hidden"/>
				<h4 id="locName">Jagalchi Market</h4>
				<!-- Actions on location -->
				<div class="btn-group">
					<button id="buttonEditLocation" type="button" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-pencil"></span> Edit
					</button>
					<button id="buttonDeleteLocation" type="button" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-remove"></span> Delete
					</button>
				</div>
				<br/><br/>
			
				<!-- Custom description -->
				<p id="locDesc">The best fishmarket I've ever been to</p>
				<!-- Wikipedia description -->
				<p><img src="/img/wiki.png" alt="Wiki">
				<em><small>
					<span id="wikipedia_desc"></span>
				</small></em></p>
				
				<!-- Upload pictures -->
				<button id="buttonUploadPictures" type="button" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-picture"></span> Upload pictures
				</button>
				<br/><br/>
				
				<!-- Related pictures -->
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<a href="#" class="thumbnail">
							<img src="/img/sample1.jpg" alt="Sample 1">
						</a>
					</div>
					<div class="col-sm-6 col-md-3">
						<a href="#" class="thumbnail">
							<img src="/img/sample2.jpg" alt="Sample 2">
						</a>
					</div>
					<div class="col-sm-6 col-md-3">
						<a href="#" class="thumbnail">
							<img src="/img/sample3.jpg" alt="Sample 3">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    
    <!-- Modal to create a new location -->
	{% include "modalCreateLocation.html" %}    
    
    <!-- Modal to edit a location -->
    {% include "modalEditLocation.html" %}
    
    <!-- Modal to delete a location -->
    {% include "modalDeleteLocation.html" %}
    
    <!-- Modal to edit the story -->
    {% include "modalEditStory.html" %}
    
{% endblock %}

{% block mediaJS %}
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
    	// Open modal to create a new location
		function openModal() {
			$('#modalCreateLocation').modal({ backdrop: 'static', keyboard: false });
			$('#modalCreateLocation').modal('show');
			// Clear previous data
			$('#locationInputName').val('');
			$('#locationInputDesc').val('');
		}
    
		function initialize() {
			// Add new pictures
    		$('#buttonMore').click(function(){
    			$('#picturesUpload').append('<div class="form-group"><label for="inputFile" class="col-lg-2 control-label"></label><div class="col-lg-10"><input type="file" id="inputFile"><p class="help-block"></p></div></div>');
    		});

			// --- Edit story --- //
			$('#buttonEditStory').click(function() {
				var datefrom = $('#dateFrom').val();
				var dateto = $('#dateTo').val();
				//TODO format is yyyy-mm-dd
				$('#dateBeginStory').datepicker('setValue', '07/10/2013');
				$('#dateEndStory').datepicker('setValue', '10/10/2013');

				var id = $('#storyId').val();
				var name = $('#storyName').val();
				var desc = $('#storyDesc').val();
	
				$('#idStoryEdit').val(id);
				$('#inputNameStory').val(name);
				$('#inputDescStory').val(desc);

				$('#modalEditStory').modal('show');
			});
			
			$('#editStory').click(function(){
				var idStory = $('#idStoryEdit').val();
			
				//TODO : controls
				$('#modalEditStory').modal('hide');
				
				var name = $('#inputNameStory').val();
				var desc = $('#inputDescStory').val();
				var dateto = $('#dateBeginStory').val();
				var datefrom = $('#dateEndStory').val();
				
				$.ajax({
					type: "POST",
					url: '/story.edit/' + idStory,
					data: {'name' : name,
							'desc' : desc,
							'dateto' : dateto,
							'datefrom' : datefrom}
				})
				.done(function(data){
					if(data.status == "OK") {
						// Update trip data
						$('#storyName').val(name);
						$('#storyDesc').val(desc);
						$('#dateTo').val(dateto);
						$('#dateFrom').val(datefrom);
						$('#displayStoryName').html(name);
						$('#displayStoryDesc').html(desc);
					}
				});
			});

			// --- Edit location --- //
			$('#buttonEditLocation').click(function() {
				var locName = $('#locName').html();
				var locDesc = $('#locDesc').html();
				$('#locationInputNameEdit').val(locName);
				$('#locationInputDescEdit').val(locDesc);
				
				$('#modalEditLocation').modal('show');
			});
			
			$('#editLocation').click(function(){
				$('#modalEditLocation').modal('hide');
				var index = $('#locIndex').val();
				if(index) {
					// TODO : controls
					var name = $('#locationInputNameEdit').val();
					var desc = $('#locationInputDescEdit').val();
					var idStory = $('#storyId').val();
					$.ajax({
		  				type: "GET",
		  				url: '/story.editlocation/' + idStory + '/' + index,
		  				data: {'name': name,
		  						'desc': desc}
					})
					.done(function(data) {
						if(data.status == 'OK'){
							// Close the modal
							$('#modalEditLocation').modal('hide');
							// Update data
							var loc = get_location_for_index(index);
							loc.name = name;
							loc.desc = desc;
							
							$('#locName').html(name);
							$('#locDesc').html(desc);
						}
					});
				}
			});
			
			$('#buttonDeleteLocation').click(function() {
				$('#modalDeleteLocation').modal('show');
			});

			// Array of all the green markers
			var savedMarkers = [];
						
			$('#deleteLocation').click(function(){
				$('#modalDeleteLocation').modal('hide');
				var index = $('#locIndex').val();
				if(index) {
					$.ajax({
						type: "POST",
						url: '/story.deletelocation/' + $('#storyId').val() + '/' + index
					})
					.done(function(data){
						if(data.status == "OK") {
							// Erase marker
							var markerToDelete;
							var i = 0;
							for(i ; i < savedMarkers.length ; i++){
								if( savedMarkers[i].index == index ) {
									markerToDelete = savedMarkers[i].marker;
									break;					
								}
							}
							
							if(markerToDelete) {
								markerToDelete.setMap(null);
							}
							savedMarkers.splice(i, 1);
							
							// Erase location
							remove_location_for_index(index);
							
							// Display default message
							$('#noSelection').css('display','inherit');
							$('#selectionInfos').css('display','none');
						}
					});
				}
			});
			
  			var map = new google.maps.Map(document.getElementById('map-canvas'), {
    			mapTypeId: google.maps.MapTypeId.ROADMAP,
    			zoom: 7
  			});
  			
  			var defaultBounds = new google.maps.LatLngBounds(
      			new google.maps.LatLng(35.129554, 129.015642),
      			new google.maps.LatLng(35.209554, 129.105642));
  			map.fitBounds(defaultBounds);

  			var input = /** @type {HTMLInputElement} */(document.getElementById('target'));
  			console.log(input);
  			var searchBox = new google.maps.places.SearchBox(input);
  			var markers = [];

			// Create a marker after a research
  			google.maps.event.addListener(searchBox, 'places_changed', function() {
	    		var places = searchBox.getPlaces();
	
	    		for (var i = 0, marker; marker = markers[i]; i++) {
	      			marker.setMap(null);
	    		}
	    		
	    		markers = [];
	    		var bounds = new google.maps.LatLngBounds();
	    		for (var i = 0, place; place = places[i]; i++) {
	      			var image = {
	        			url: place.icon,
	        			size: new google.maps.Size(71, 71),
	        			origin: new google.maps.Point(0, 0),
	        			anchor: new google.maps.Point(17, 34),
	        			scaledSize: new google.maps.Size(25, 25)
	      			};
	
	      			var marker = new google.maps.Marker({
	        			map: map,
	        			icon: image,
	        			title: place.name,
	        			position: place.geometry.location
	      			});
	      			
	      			var infowindow = new google.maps.InfoWindow({
	      				content: "Button"
	  				});
	      			
	      			google.maps.event.addListener(marker, 'click', function() {
	    				infowindow.open(map,marker);
	  				});
	
	      			markers.push(marker);
	
	      			bounds.extend(place.geometry.location);
	    		}
	
	    		map.fitBounds(bounds);
  		});
	
  		google.maps.event.addListener(map, 'bounds_changed', function() {
    		var bounds = map.getBounds();
    		searchBox.setBounds(bounds);
  		});
  		
		$.ajax({
  				type: "POST",
  				url: '/story.detail/' + {{ story.id }},
  				success: updateMarkers
		});
		
		var global_locations;
		
		function get_location_for_index(idx) {
			for (var i = 0; i < global_locations.length; i++) {
				loc = global_locations[i];
				if (loc.locationindex == idx) {
					return loc;
				}
			} 
		}
		
		function remove_location_for_index(idx) {
			for (var i = 0; i < global_locations.length; i++) {
				loc = global_locations[i];
				if (loc.locationindex == idx) {
					global_locations.splice(i,1);
					break;
				}
			} 
		}
		
		// Function to place a green saved marker on the map
		function placeSavedMarker(loc) {
			var marker = new google.maps.Marker({
      			map: map,
      			locationindex: loc.locationindex,
       			icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
       			position: new google.maps.LatLng(loc.latitude, loc.longitude),
     		});
      		
			var savedMarker = {marker: marker, index: loc.locationindex};
			savedMarkers.push(savedMarker);
      		
   			google.maps.event.addListener(marker, 'click', (function(m) {
   				return function() {
   				    // loc = get_location_for_index(m.locationindex);
   				    
   				    if (loc != null) {
						$('#locIndex').val(m.locationindex);
   				    	$('#locName').text(loc.name);
   				    	$('#locDesc').text(loc.desc);
   				    	//$('#wikipedia_desc').text(loc.?);
   				    	
   				    	// Display infos and hide default message
   				    	$('#noSelection').css("display","none");
   				    	$('#selectionInfos').css("display","inherit");
   				    }
   				};
			})(marker));
			return marker;
		}
		
		function updateMarkers(data) {
			global_locations = data.record.locations;
			for (var i = 0; i < global_locations.length; i++) {
				loc = global_locations[i];
				var marker = placeSavedMarker(loc);	
			}
		} // --- updateMarkers
		
		var clickMarker;

		function placeMarker(location) {
    		clickMarker = new google.maps.Marker({
      			position: location,
      			info: new google.maps.InfoWindow({
      				content: "New Location <br/> <button type='button' class='btn btn-primary btn-xs' onClick='openModal();'>Create</button>"
  				}),
      			
      			map: map
    		});
    		clickMarker.info.open(map, clickMarker);
		}
		
		var latestPosition;
		google.maps.event.addListener(map, 'click', function(event) {
			latestPosition = {'latitude': event.latLng.lat(),
							   'longitude': event.latLng.lng()
							   };
			// Remove previous marker that havent been saved
			if(clickMarker) {
				clickMarker.setMap(null);
			}
  			placeMarker(event.latLng);
		});
		
		// --- Functions of the create location modal --- //
		function setLocationLayout() {
			$('#wikiLayout').css('display','none');
			$('#locationLayout').css('display','inherit');
			$('#addLocation').css('display','inline');
			$('#addLocationFinal').css('display','none');
			$('#modalCreateLocation').modal('hide');
		}
		
		function setWikiLayout() {
			$('#wikiLayout').css('display','inherit');
			$('#locationLayout').css('display','none');
			$('#addLocation').css('display','none');
			$('#addLocationFinal').css('display','inline');
		}
		
		$('#addLocationCancel').click(function() {
			setLocationLayout();
		});
		
		/*
		$('#customLinkOption').change(function() {
			// Enable/disable input
			if($('#customLinkOption').is(':checked')) {
				$('#customLinkInput').prop('disabled', false);
			} else {
				$('#customLinkInput').prop('disabled', true);
			}
		});
		*/
		
		$("input[name='optionsWikiLink']:radio").change(function(e){
			if($(this).val() == 'custom_link') {
				$('#customLinkInput').prop('disabled', false);
			} else {
				$('#customLinkInput').prop('disabled', true);
			}
		});
		
		// --- Create a new location --- //
		$('#addLocation').click(function() {
			var locName = $('#locationInputName').val();
			if(locName) {
				// Change the layout
				setWikiLayout();
				
				// Get the Wiki links
				$.ajax({
					type: "GET",
					url: '/google.search',
					data: {'text': locName}
				}).done(function(data){
					if(data.status == 'OK') {
						var results = data.record.content;
						
						// Empty previous data
						$('#wikiList').empty();
						
						// Create an option for each link
						for(i = 0 ; i < results.length ; i++) {
							var content = results[i];
							var title = content.title;
							var mylink = content.link;
							var radioButton = '<div class="radio"><label><input type="radio" name="optionsWikiLink" value="'
							+ mylink + '"/>'+ title + '</label></div>';
							$('#wikiList').append(radioButton);	
						}
						
						// Select the first by default
						$('[name="optionsWikiLink"]').first().attr('checked', 'checked');
					}
				});
			} else {
				// TODO : error message in the modal
				// location name mandatory
			}
		}); // End addLocationClick
		
		$('#addLocationFinal').click(function(){
			// Get the link selected
			var wikiLink;
			if($('#customLinkOption').is(':checked')) {
				// Use custom link
				wikiLink = $('#customLinkInput').val();
			} else {
				wikiLink = $('input[name="optionsWikiLink"]:checked', '#wikiLinksForm').val();
			}
			
			// Get the Wikipedia text
			$.ajax({
	  				type: "POST",
	  				url: '/wikipedia.search/',
	  				data: {'url': wikiLink}
			}).done(function(data){
				if(data.status == 'OK') {
					// Rechange the layout before hiding modal
					setLocationLayout();
					$('#modalCreateLocation').modal('hide');
					
					var wikiText = data.record.wiki;
					
					// Create the location
					data = {'name': $('#locationInputName').val(),
						'desc': $('#locationInputDesc').val(),
						'latitude': latestPosition.latitude,
						'longitude': latestPosition.longitude,
						'wikipedia': wikiText
					};
					
					$.ajax({
						type: "POST",
						url: '/story.addlocation/' + {{ story.id }},
						data: data
					}).done(function(data){
						// Remove temporary red marker
						clickMarker.setMap(null);
						
						// Place new marker and save it in the array
						var newLocation = data.record.location;
						global_locations.push(newLocation);
						var marker = placeSavedMarker(newLocation);
									
						// Automatically focus on the marker
						google.maps.event.trigger(marker, 'click', {
							latLng: new google.maps.LatLng(0, 0)
						});
					});
				}
			});
		});
	}

	google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
{% endblock %}
